extends layout

block layout-content
    div.View
        h1.Banner #{appName} - #{appDesc}
        div.Message
            div.Title
                h3 Best #{appDesc}
                h1 Damb APP!
            span.Details Get Started For Lanex Cuy!
        div.NavButtons
            a(href="/user")
                div.NavButton Just dive in!